---
layout: default_wide
---

<div class="home">
  <div class="content-block-wide">
      <div class="content content-banner">
          <h1>Помощь и документация</h1>
          <p>Онлайн ресурс <br/>c информацией для разработчиков и пользователей<br/> о технологиях и продуктах Mygento</p>
      </div>
  </div>
  <div class="content-block">
      <h2>Наиболее просматриваемые статьи</h2>
      <ul class="post-list">
        {% for post in site.categories.important %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
  </div>
  <div class="content-block">
      <h2>Недавно обновленные статьи <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="icon"><img src="/img/feed.svg"/></a></h2>
      <ul class="post-list">
        {% for post in site.posts limit: 10 %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
  </div>
</div>
